---
import { getLangFromUrl, useTranslations } from "../i18n/translations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const today = new Date();
---

<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>{t('footer.social')}</span>
        </h2>
        <div class="main-footer__social-cont">
          <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/armando-ochoa-data-analyst">
            <img
              class="main-footer__icon"
              src="/assets/png/linkedin-ico.png"
              alt="icon"
            />
          </a>
          <a target="_blank" rel="noreferrer" href="https://github.com/Armando8a-dev">
            <img
              class="main-footer__icon"
              src="/assets/png/github-ico.png"
              alt="icon"
            />
          </a>
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">Armando Ochoa</h4>
        <p class="main-footer__short-desc">
          {t('footer.description')}
        </p>
      </div>
    </div>

    <div class="main-footer__lower">
      &copy; Copyright {today.getFullYear()}. {t('footer.rights')} -
      <a rel="noreferrer" target="_blank" href="https://armandochoa.com"
        >Armando Ochoa</a
      >
    </div>
  </div>
</footer>

